.auth-modal {
	background-color: #fff;
	width: 430px;
	height: fit-content;
	position: relative;
	left: 50%;
	transform: translateX(-50%) translateY(50%);
	top: 10px;
	padding: 0px 30px 30px 30px;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	.welcome {
		display: flex;
		flex-direction: column;
		align-items: center;

		h3 {
			margin-bottom: 10px;
			color: $color-text;
			font-weight: 600;
		}

		p {
			font-size: 14px;
			color: gray;
		}

		img {
			width: 64px;
		}
	}

	form {
		flex-shrink: 1;
		display: flex;
		flex-direction: column;
		max-width: 100vw;
		gap: 20px;

		.field {
			display: flex;
			flex-direction: column;
			gap: 8px;

			label {
				font-weight: 600;
				color: $color-text;
				font-size: 14px;
			}

			input {
				color: $color-text;
				border: 2px solid #ebebeb;
				border-radius: 8px;
				padding: 10px;
				outline: none;
				font-size: 14px;
			}

			.error {
				color: red;
				font-weight: 500;
				font-size: 12px;
				margin-left: 5px;
			}
		}

		.checkbox {
			flex-direction: row;
		}

		.button {
			flex: 1;
			background-color: $color-text;
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			padding: 15px 98px;
			border-radius: 10px;
			outline: none;
			border: none;
			cursor: pointer;

			&:hover {
				background-color: black;
			}
		}

		small {
			margin: auto;

			span {
				user-select: all;
			}
		}
	}

	.no-account-message {
		text-align: center;
		font-size: 14px;
		color: gray;
		cursor: pointer;

		span {
			color: $color-text;
			font-weight: bold;
		}
	}
}

@include small-screen {
	.auth-modal {
		width: 90%;
	}
}
