.reservation-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    h1{
        font-weight: 600;
        font-size: 40px;
        color:$color-text;
    }

    .offer-info{
        display: flex;
        gap: 20px;
        .left{
            flex: 1;

            img{
                width:100%;
                height: 100%;
                object-fit: cover;
                border-radius: 12px;
            }
        }

        .right{
            flex:1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2{
                font-weight: 500;
                font-size: 22px;
                color:$color-text;
            }

            .general{
                display: flex;
                justify-content: space-between;
                gap: 20px;

                .item{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    p{
                        font-size: 16px;
                        color:$color-light-gray;
                    }
    
                    .icon{
                        color:$color-accent;
                        font-size: 24px;
                    }
                }
            }

            .pricing{
                display: flex;
                gap:5px;

                .left{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-weight: 600;
                    font-size: 18px;
                    color:$color-text;
                    word-wrap:break-word;

                }

                .right{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    font-weight: 400;
                    font-size: 18px;
                    color:$color-text;

                    .money{
                        color:$color-accent;
                    }
                    
                    .money-total{
                        color:$color-accent;
                        font-weight: 700;
                    }

                    input{
                        outline:none;
                        border:none;
                        font-weight: 40;
                        font-size: 18px;
                        color:$color-interaction;
                        border-bottom:2px dashed $color-interaction;
                        text-align: center;

                        &::placeholder{
                            color:$color-interaction;
                        }
                    }
                }
            }
        }
    }


    button{
        max-width: 275px;
        background-color: $color-interaction;
        color:#fff;
        font-weight: 600;
        font-size: 16px;
        padding:15px 98px;
        border-radius: 10px;
        outline:none;
        border:none;
        cursor: pointer;
    }
}

@include small-screen{
    .offer-info{
        flex-direction: column;

        .pricing{

            .left{
                flex:1;
                max-width: 50%;
                justify-content: space-between;
            }

            .right{
                flex:1;
                max-width: 50%;

            }
        }
    }
}