.google-map{
    width: 100%;
    height: 100%;

}

#root > div > div.map-wrapper > div.right-wrapper > div > div > div:nth-child(2), #root > div > div.map-wrapper > div.right-wrapper > div > div > div:nth-child(3){
    display:none;
}

@include small-screen{
    .google-map{
        width:inherit;
        height:inherit;
    }
}


