.dropdown-list{
    background-color:#fff;
    color: $color-text;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 18px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    position:absolute;
    z-index: 1;

    p{
        &:hover{
            color:$color-interaction;
            cursor: pointer;
        }
    }

}