$color-text: #262729;
$color-interaction: #EE685F;
$color-accent: #2A90D9;
$color-white:#FFFFFF;
$color-light-gray:#858585;
$color-ligther-gray:#E6E6E6;
$color-background-gray:#F7F7F7;
$color-yellow-star: #EFC968;



