@import "./mixins";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    user-select:none;
}

html{
    scroll-behavior: smooth;

}

a{

    &:visited{
        color:inherit;
        text-decoration:none;
    }
}

h2,h3,h4,h5,h6{
    color:$color-text;
}


.active,.no-outline{
    text-decoration: none;
    color:$color-text;
}

.container{
    max-width:1250px;
    margin:0 auto;

    @include small-screen{
        margin:0;
    }
}