.footer-section{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h4{
        font-weight: 600;
        font-size: 16px;
        color:$color-text;
    }

    a{
        font-weight: 400;
        font-size: 14px;
        color: $color-text;
        font-style: normal;
        text-decoration: none;
    }
}