.filter-wrapper{
    border-top: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    padding: 15px 0px;
    position:relative;
    width: 100%;

    .filter{
        display: flex;

        .location, .date, .sleeps{
            display: flex;
            justify-content: flex-start;
            gap: 10px;
            flex:1;
            padding:0px 15px;

            .left{
                display: flex;
                align-items: center;
                gap: 10px;

                p{
                    font-weight: 400;
                    color:$color-text;
                    font-size: 16px; 
                }

                .icon{
                    font-size: 22px;
                    color:$color-light-gray;
                }
            }
            .right{
                display: flex;
                flex:1;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                .icon{
                    font-size: 26px;
                    color:$color-accent;
                }
            }
        }

        .location, .date{
            border-right: 2px solid #EBEBEB;
        }
    }

    .location-list{
        width: 33%;
        top:50px;
        left:0px;
    }

    .sleeps-list{
        width: 33%;
        right:0px;
        top:50px;
    }

    .date-range{
        position:absolute;
        z-index: 5;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        top:50px;
        left:33%;
    }
}

@include small-screen{


    .filter-wrapper{
        .filter{
            .date{
                width: 100%;
                .right{
                    p{
                        display:none;
                    }
                    justify-content: flex-end;

                }
            }
        }

        .date-range{
            left:10px;
        }
    }
}