.reviews-wrapper{
    padding:0px 55px;
    .reviews{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:60px;
        position:relative;

        h1{
            font-weight: 600;
            font-size: 40px;
            color: $color-text;
        }

        .swipe-wrapper{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            span{
                font-size: 12px;
                font-style: italic;
                display:none;
            }
        }

        .test-wrapper{
            width: 100%;
            overflow:hidden;

            .more{
                position:absolute;
                width:50px;
                height: 50px;
                border-radius: 10px;
                background-color: $color-ligther-gray;
                color:#999999;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out;

                &:hover{
                    background-color: $color-interaction;
                    color:$color-white;
                }
            }
        
            .more-left{
                left:0px;
                top:50%;
            }
        
            .more-right{
                right: 0;
                top: 50%;
            }
        }
        


        button{
            padding: 15px 82px;
            background-color: $color-interaction;
            color:$color-white;
            font-weight: 600;
            font-size: 16px;
            border:none;
            outline:none;
            border-radius: 10px;
            text-align: center;
            cursor: pointer;
        }
    }
}


@include small-screen{
    .reviews-wrapper{
        padding: 16px;
        .swipe-wrapper{
            span{
                display:inline !important;
            }
        }
        .test-wrapper{
            .more{
                display:none !important;
            }
        }
    }
}