.search{
    display: flex;
    position:relative;
    align-self: center;
    bottom:-175px;
    width: 70%;

    .inputs{
        display: flex;
        flex: 1;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 32px;


        .destination-wrapper{
            position: relative;

            input{
                padding:24px 64px;
                border-radius: 32px 0px 0px 32px;
                border-right:1px solid #EBEBEB;
            }

        }

        .dp-wrapper{
            position:relative;

            .date{
                padding:24px 64px;
                border-radius: 0px 32px 32px 0px; 
                cursor: pointer;
            }

            .date-range{
                position:absolute;
                top: 90px;
                z-index: 5;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }

        }
        
        &>*{
            flex:1;

            .date,input{
                width:100%;
            }
        }
    }

    input,.date{
        border:none;
        outline:none;
        font-size: $font-size-base;
        font-family: "Montserrat";
        color: $color-text;
        background-color: #fff;
        
    }


    .location{
        display: flex;
        position:absolute;
        font-size: 32px;
        color: $color-light-gray;
        top:16px;
        left:16px;
        z-index: 1;
    }

    .calendar{
        position:absolute;
        font-size: 32px;
        color: $color-light-gray;
        top:16px;
        left:16px;
        z-index: 1;
    }

    .search-button{
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 20px;
        top:14px;
        right:16px;
        border:none;
        background-color: $color-interaction;
        color:$color-white;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }
}


@include small-screen{
    .search{
        position:relative;
        bottom:auto;
        width:100%;

        .inputs{
            box-shadow:none;
            border:1px solid #D6D6D6;
        }

        .destination-wrapper input{
            border-radius: 32px !important;
        }

        .dp-wrapper{
            display:none;
        }
    }
}