.review-items{
    display: flex;
    padding:0px 80px;

    .mapped-items{
        display: flex;
        gap:30px;
    }
}


@include small-screen{
    .review-items{
        flex-direction:column;
        text-align: center;
        padding:0 16px;
    }
}