.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 16px 55px;


    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        .hamburger{
            display:none;
        }
        
        .logo{
            color:$color-accent;

            span{
                color:$color-interaction;
            }
        }

        .pages{
            display: flex;
            gap: 40px;
            font-weight: 500;
            color:$color-text;
            text-decoration:none;


            p{
                cursor:pointer;
            }
        }
    }


    .right{
        display: flex;
        gap: 30px;


        .icon{
            color:$color-interaction;
        }
    }


    .icon{ 
        display: flex;
        align-items: center;
        font-size: 32px;
        color:$color-text;
        cursor: pointer;
    }
}

.mobile-pages{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    gap: 32px;

    .mobile-settings{
        display: flex;
        gap: 32px;
        font-size: 24px;
        color:$color-interaction;
    }

    p{
        &:hover{
            color:$color-interaction;
        }
    }
}



@include small-screen{
    .navbar{
        padding: 16px;
    }

    .hamburger{
        display: flex !important;
    }


    .pages, .language, .currency{
        display:none !important;
    }

}