.cover-wrapper{
    display: flex;
    padding:0px 55px;
    width:100%;

    .cover{
        background-image: url("/main-cover.jpg");
        background-size: cover;
        padding: 70px;
        width:100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-bottom: 150px;
        color:$color-text;

        h1{
            font-size: $font-size-extra-large;
        }

        p{
            font-size: $font-size-base;
            line-height: 1.7em;
            font-weight: 500;
            width:40%;
        }
    }
}

@include small-screen{
    .cover-wrapper{
        padding: 0;

        .cover{
        padding: 32px 16px;
        border-radius: 0;
        position:unset;

        h1{
            font-size: $font-size-medium;
        }

        p{
            width:50%;
        }


        
        }
    }
}